
.feed-view-card {
	  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
}

.mat-card-actions {
	position: absolute;
	bottom: 20px;
}
.mat-card-image:first-child {
	margin: 10px;
}
img {

	max-width: 90%;
}

.example4 {
}
  .sample {
    height: 480px;
  }
  .inner {
    padding: 1em 1.5em 1em 0;
  }

